*{margin: 0; padding: 0;
font-family: Work Sans, sans-serif;}

/* header starts */
header{background: rgba(255, 144, 14, 0.10); padding: 50px 240px;
max-width: 100%;}

/* nav */
nav{
    display: flex; justify-content: space-between; align-items: center;
}

    h3{color: var(--dark-01, #131313);
        font-size: 24px;
        font-weight: 700;
        line-height: normal;}

    nav ul{display: flex; gap: 25px; list-style: none;}
    ul > li> a{text-decoration: none; color: var(--dark-02, #424242);
        font-size: 13px;
        font-weight: 500;
        line-height: 26px; /* 144.444% */}
        a:hover{text-decoration: underline;}

/* banner */

.banner-text{max-width: 90%; text-align: center; margin: 0 auto; text-align: center; margin-top: 80px;}

.banner h1{color: var(--dark-01, #131313);
    font-size: 48px;
    font-weight: 700;
    line-height: normal;}

.banner p{color: var(--dark-03, #727272);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-top: 10px;}

.btn{border-radius: 8px;
    background: #FF900E;
    width: 130px;
    height: 50px;
    flex-shrink: 0;
    color: white;
    border: none; margin-top: 18px;}

.banner-img{margin-top: 50px;}

.banner img{max-width: 100%; border-radius: 8px;}
/* header ends */ 


/* main starts */
main{ max-width: 1440px; padding: 50px 240px;}
/* section 1 */
.section1{display: flex; align-items: center; gap: 2rem;}
.section1 h2{margin-bottom: 15px;}


.features-images{display: grid; grid-template-columns: repeat(2, 1fr); gap: 1.125rem;}
.features-images img{max-width: 200px ;}

/* section2 */

/* section 3 */
/* main ends */

/* smaller devices */

@media screen and (max-width:576px) { 

header{padding: 20px;}
nav{flex-direction: column;} 

main{max-width: 1440px; padding: 20px;}
.section1{flex-direction: column-reverse;}
.features-images{grid-template-columns: 1fr;}
    
}

/* medium devices */

@media screen and (min-width:576px) and (max-width:992px) {header{padding: 20px;}
nav{flex-direction: column;} 

.section1{flex-direction: column-reverse;}
    
}